{% use '../Admin/ListTemplate/nbresults.php.twig' %}
{% use '../Admin/ListTemplate/thead.php.twig' %}
{% use '../Admin/ListTemplate/tbody.php.twig' %}
{% use '../Admin/ListTemplate/paginator.php.twig' %}
{% use '../Admin/generic_actions.php.twig' %}
{% use '../Admin/batch_actions.php.twig' %}

{% block list_results %}
<div class="results-list">
    {{ block('list_nbresults') -}}

    {{- block('batch_actions_form') }}

    {{ echo_block("list_table") }}
    <table id="table-list-{{ builder.ModelClass }}" class="table table-striped table-hover table-condensed object-actions-{{ builder.ModelClass }}">
        {{ block('list_thead') -}}
        {{- block('list_tbody') }}
    </table>
    {{ echo_endblock() }}

    {{ echo_block("batch_actions_container") }}
    <div class="form-actions list-actions">
    {% if batch_actions is defined and batch_actions|length > 0 %}
        {{ echo_block("batch_actions") }}
        <div id="batch_actions" class="pull-left btn-toolbar">
            {{ block('batch_actions') }}
        </div>
        {{ echo_block("batch_actions") }}
    {% endif -%}
    {{ echo_endblock() }}


    {{ echo_block("actions") }}
    {% if actions is defined and actions|length > 0 %}
        <div id="generic_actions" class="pull-left btn-toolbar">
            {{ block('generic_actions') -}}
        </div>
    {% endif -%}
    {{ echo_endblock() }}

        <div class="pull-right btn-toolbar">
            {{- block('list_paginator_perpage') -}}
        </div>

        <div class="pull-right btn-toolbar">
            {{- block('list_paginator_pages') -}}
        </div>
    </div>
    {{- block('end_batch_actions_form') }}
</div>
{% endblock list_results %}
