{% use '../Admin/stylesheets.php.twig' %}
{% use '../Admin/javascripts.php.twig' %}
{% use '../Admin/ActionsTemplate/form.php.twig' %}
{% use '../Admin/ActionsTemplate/title.php.twig' %}

{{ echo_extends( builder.getBaseAdminTemplate ) }}

{{ echo_block("stylesheets") }}
    {{- block('complementary_stylesheets') -}}
{{ echo_endblock() }}

{{ echo_block("javascripts") }}
    {{- block('complementary_javascripts') -}}
{{ echo_endblock() }}

{{- block('site_title') -}}

{{ echo_block("body") }}
    {{- block('title') -}}

    <div class="row-fluid">
        {{ block('form') }}
    </div>
{{ echo_endblock() }}
